body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #1A1A1D;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1A1A1D;
    padding: 20px;
}

.navbar a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid transparent;
    transition: 0.5s;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    border: 2px solid;
    opacity: 0;
    transition: opacity 0.5s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.4);
}

.navbar a:hover::before {
    opacity: 1;
}

.navbar a.csharp {
    color: #9B4F96;
    border-color: #9B4F96;
}

.navbar a.csharp::before {
    border-color: #9B4F96;
    box-shadow: 0 0 10px #9B4F96, 0 0 20px #9B4F96, 0 0 40px #9B4F96;
}

.navbar a.python {
    color: #3776AB;
    border-color: #3776AB;
}

.navbar a.python::before {
    border-color: #3776AB;
    box-shadow: 0 0 10px #3776AB, 0 0 20px #3776AB, 0 0 40px #3776AB;
}

.navbar a.javascript {
    color: #F7DF1E;
    border-color: #F7DF1E;
    background-color: #1A1A1D;
}

.navbar a.javascript::before {
    border-color: #F7DF1E;
    box-shadow: 0 0 10px #F7DF1E, 0 0 20px #F7DF1E, 0 0 40px #F7DF1E;
}

.navbar a.kotlin {
    color: #0095D5;
    border-color: #0095D5;
}

.navbar a.kotlin::before {
    border-color: #0095D5;
    box-shadow: 0 0 10px #0095D5, 0 0 20px #0095D5, 0 0 40px #0095D5;
}

.navbar a:hover {
    color: #fff;
    background-color: transparent;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

header,
section {
    background-color: #6A1E55; /* Color de fondo de los cuadros */
    border: 2px solid #3B1C32; /* Borde de los cuadros */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 5px;
    display: inline-block;
}

h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #3B1C32; /* Subrayado en la parte posterior */
    z-index: -1;
}

.neon-text {
    /* color: #be6e96;*/
    color: #461a30; /* Color base del texto */
    text-shadow: 
        0 0 5px #cfbcc6, 
        0 0 10px #fff9fc, 
        0 0 20px #ffffff, 
        0 0 40px #a82583, 
        0 0 80px #ad1482, 
        0 0 90px #be509f;
    font-weight: bold;
    font-size: 2em; /* Ajusta el tamaño según tus necesidades */
}

.participants {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.participant-card {
    background-color: #6A1E55; /* Color de fondo de los cuadros */
    border: 2px solid #3B1C32; /* Borde de los cuadros */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s;
}

.participant-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.participant-card img:hover {
    transform: scale(1.1); /* Animación de escalado con hover */
}

.participant-card h3 {
    margin: 15px 0 5px;
    /*color: #be6e96;*/
    color: #480e2b; /* Color para los nombres de los participantes */
    text-shadow: 
        0 0 5px #cfbcc6, 
        0 0 10px #fff9fc, 
        0 0 20px #ffffff, 
        0 0 40px #a82583, 
        0 0 80px #ad1482, 
        0 0 90px #be509f;
    font-weight: bold;
}

.participant-card p {
    font-style: italic;
    color: #fff; /* Color de las frases */
    background-color: #3B1C32; /* Fondo de los textos */
    border: 2px solid #A64D79; /* Borde del texto */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #cfbcc6, 0 0 10px #fff9fc, 0 0 20px #ffffff, 0 0 40px #a82583;
}

.text-box {
    color: #fff; /* Color de los textos */
    background-color: #3B1C32; /* Fondo de los cuadros de texto */
    border: 2px solid #A64D79; /* Borde de los cuadros de texto */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #cfbcc6, 0 0 10px #fff9fc, 0 0 20px #ffffff, 0 0 40px #a82583;
    margin-bottom: 15px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation to the participant cards */
.participant-card {
    background-color: #6A1E55;
    border: 2px solid #3B1C32;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s;
    animation: fadeIn 1s ease-in-out;
}

.participant-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.participant-card img:hover {
    transform: scale(1.1);
}